<%# FIRST EXERCIZE %>
<div class="alert alert-warning">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<hr>
<%# SECOND EXERCIZE %>
<p>
    <button class="btn btn-primary collapser">
        Collapser
    </button>
</p>
<div>
    <div class="first-text">
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
    </div>
</div>
<hr>
<%# THIRD EXERCIZE %>
<p>
    <button class="btn btn-primary first-acc">
        First accordion
    </button>
</p>
<div>
    <div class="first-acc-text">
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
    </div>
</div>
<p>
    <button class="btn btn-primary second-acc">
        Second accordion
    </button>
</p>
<div>
    <div class="second-acc-text">
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
    </div>
</div>
<p>
    <button class="btn btn-primary third-acc">
        Third accordion
    </button>
</p>
<div>
    <div class="third-acc-text">
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
    </div>
</div>
